<h2>New Instruction Guide</h2>

<%= form_for(@instructionguide) do |f| %>
	<p>
		<%= f.label :name %> <br />
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</p>

	<p>
		<%= f.label :owner %><br />
		<%= f.text_field :owner %>
	</p>

	<%= f.submit %>
<% end %>
