<h2><%= @instructionguide.name %></h2>

<%= link_to "New Step", new_instructionguide_step_path(@instructionguide) %> <br>
<h2>Steps</h2>

<ul id='steps'>
  <% @instructionguide.steps.each do |step| %>
    <li>
      #<%= step.order %> -
      <%= link_to step.title, [@instructionguide, step] %>
    </li>
   <% end %>
</ul>

<%= link_to "All Guides", root_path %>  |
<%= link_to "Delete Guide", instructionguide_path, method: :delete, confirm: "Are you sure you want to delete this guide?" %>
